/* ----- top navbar ----- */
.topnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 32px;
  height: 56px;
  padding-bottom: 0;
  padding-top: 0;
  flex: 1 0 0;
}

.logo .logo-svg {
  width: 120px;
  height: 24px;
}

.logo a {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 32px;
}

.centermenu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 56px;
  min-width: 640px;
  flex: 1 0 0;
}

.rightmenu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 32px;
  height: 56px;
  flex: 1 0 0;
}

.centermenu li a, .rightmenu li a {
  padding: 4px 8px;
}

.centermenu li a span, .rightmenu li a span {
  margin: 0 8px;
  font-size: 14px;
}

/* ----- side nav ----- */
.side-nav ul {
  list-style: none;
  margin-left: 13px;
  position: fixed;
  top: 36.5%;
  z-index: 10;
}

.side-nav ul li {
  border-left: 3px solid #000;
  margin-top: 4px;
  width: 15px;
  height: 24px;
}


/* ----- showcase ----- */
.showcase {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.showcase h1 {
  color: var(--prim-color);
  margin-top: 65px;
  font-size: 40px;
}

.showcase .showcase-badges {
  display: flex;
  justify-content: space-evenly;
  width: 764px;
}

/* ----- second page ----- */

.second-page {
  height: 100vh;
  display: flex;
}

.hero-img {
  width: 100%;
  background: url('./images/model-3-hero.jpg') no-repeat center center/cover;
  flex: 4 0 0;
}

.right-safety {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  color: black;
}

/* ----- page 3 ----- */

.third-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.performance-img img {
  width: 100%;
  height: 750px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.badges2 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  background: red;
}

.bottom-performance {
  display: flex;
  justify-content: center;
  color: black;
}

/* ----- page 4 ----- */
.fourth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.dual-img img {
  width: 100%;
  height: 750px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.badges3 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  background: red;
}

.bottom-dual {
  display: flex;
  justify-content: center;
  color: black;
}