@import url('http://fonts.cdnfonts.com/css/gotham');

@font-face {
  font-family: 'Gotham medium1';
  src: local('Gotham Screen Smart Narrow Medium'), local('Gotham-Screen-Smart-Narrow-Medium'),
    url('font/GothamNarrSSm-Medium.woff2') format('woff2'),
    url('font/GothamNarrSSm-Medium.woff') format('woff'),
    url('font/GothamNarrSSm-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham medium2';
  src: url('font/Gotham Medium.otf');
  font-weight: 500;
  font-style: normal;
}

:root {
  --prim-color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body {
  font-family: "Gotham medium2", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: var(--prim-color);
}

main {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  height: 100vh;
  background: url('./images/model-3-bg.jpg') no-repeat center center/cover;

}

a {
  text-decoration: none;
  color: var(--prim-color);
}

.badges h2 {
  color: var(--prim-color);
  font-size: 28px;
  padding: 0;
}

.badges p {
  padding: 0;
  font-weight: 400;
  font-size: 12px;
}