@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Medium_Web.woff2)
    format("woff2");
}
 @font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Book_Web.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Bold_Web.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2)
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Gotham SSm;
  font-style: normal;
  font-weight: 200;
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
}

:root {
  --prim-color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body {
  font-family: Gotham SSm, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: var(--prim-color);
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

#header {
  height: 100vh;
  background: url('./images/model-3-bg.jpg') no-repeat center center/cover;
  position: relative;
}

/* ----- when navbar shrinked this is the small button menu ----- */
.menu-shrink{
  display: none;
  background: #7b7f88;
  height: 32px;
  width: 71px;
  padding: 8px 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 12px;
  margin-right: 20px;
}

.menu-shrink:hover{
  background: #5e6169;
}

a {
  text-decoration: none;
  color: var(--prim-color);
}

.badges h2 {
  color: var(--prim-color);
  font-size: 28px;
  padding: 0;
}

.badges p {
  padding: 0;
  font-weight: 400;
  font-size: 12px;
}

.btn-standard{
  width: 206px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-standard:hover{
  background: #fff;
  color: #000;
}

.little-arrow{
  position: absolute;
  left: 49.4%;
  top: 96.7%;
}

/* ----- little arrow on showcase to go to the next section ----- */
.little-arrow{
  animation: arrow 2s forwards infinite;
}

@keyframes arrow{
  20%{
    transform: translateY(5px);
  }
  30%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(3px);
  }
  50%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}

@media(max-width: 1199px) {
  #header nav .centermenu, #header nav .rightmenu{
    display: none;
  }
  .menu-shrink{
    display: block;
  }

  #header {
    background: url('./images/model-3-bg-mobile.jpg') no-repeat center center/cover;
  }

  #header .topnavbar .logo {
    padding-left: 20px;
  }
}


